/* css reset */
*{
  margin: 0; padding: 0; box-sizing: border-box;
}
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}

/* page style */
body{
  background: url("img/bg.jpg") no-repeat;
}

.playerWrapper{
  color: #fff;
}

.playerWrapper i{
  font-size: 56px;
}

@media (max-width: 420px){
  .playerWrapper i{
    font-size: 42px;
  }
}

.playerWrapper i.icontimeout,
.playerWrapper i.iconplay{
  font-size: 72px;
}

@media (max-width: 420px){
  .playerWrapper i.icontimeout,
  .playerWrapper i.iconplay{
    font-size: 56px;
  }
}

.playerWrapper > ul{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerWrapper > ul > li{
  padding: 5px;
}

@media (max-width: 420px){
  .playerWrapper > ul > li{
    padding: 2px;
  }
}

.circleAnime{
  animation: circle 5s infinite;
}

@keyframes circle{
  0%{
    transform: rotate(0deg);
  } 100%{
    transform: rotate(360deg);
  }
}